<body>
<h1>Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error has occurred
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<label>Title</label>
<%= f.text_field :title %>
<label>Body</label>
<%= f.text_area :body %>
<label><%= f.submit 'Update Book' %></label>
<% end %>

<%= link_to "Show", book_path(@book) %>
|
<%= link_to "Back", books_path %>

</body>